.env
.env.*
.git
.gitignore

venv
.venv
env

__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

node_modules

tests
frontend
README.md
.vs
.vscode
.idea
.DS_Store
Thumbs.db
*.log
